<!DOCTYPE html>
<html lang="en">

    <head >

        <meta charset="UTF-8">
        <title>Client del ComptaBirres</title>

    </head>


    <div onclick="AfegeixBirra" style="height:800px">

        <body style="background-color:white;", onkeypress="AfegeixBirra()", onclick="AfegeixBirra()">

            <h1 style="color:dimgray">Ets el tirador {{tirador}} amb IP: {{ ip }}</h1>

            <h1 id="TotalBirresTirador" style="color:dimgray">Has servit {{ totalBirresTirador }} birres</h1>

            <script>
                function AfegeixBirra(){
                    var xhttp = new XMLHttpRequest();

                    xhttp.onreadystatechange = function() {

                    if (this.readyState == 4 && this.status == 200) {

                        document.getElementById("TotalBirresTirador").innerText = "Has servit "+ this.responseText +" birres";

                    }

                  };
                  xhttp.open("GET", "/api/tirador/", true);
                  xhttp.send();

                }

            </script>

        </body>

    </div>

</html>